<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assignment 1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

</head>
<body>
    <div></div>
    <h1><center>Assignment 1- User Activity logging and Visualization</center></h1>
    <br>
    <br>
    <p>
        <div class="row">
          <div class="col-sm-4"></div>

  <div class="col-sm-4 text-center"> <a href="/login-page"><button type="button" class="btn btn-success">Login Page</button></a></div>
    <div class="col-sm-4"></div>

    </div>

    </p>
</body>
</html>